doctype html
html
head
  title CatalogApp


  = stylesheet_link_tag    'application', media: 'all'
  = javascript_include_tag 'application.js'

  = csrf_meta_tags

body(ng-app="catalogApp")
div(class="row")
  div(class="col-md-6 col-md-offset-3")
    ui-view

